.interfaceWrapper {
    background-color: #e8e8e8;
    padding: 20px 20px 20px 30px;
    .interfaceRoot {
        width: 688px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #707070;
        font-weight: 600;
        font-size: 1rem;

        button {
            margin-right: 15px;
            height: 20px;
            width: 20px;
            border: 1px solid gray;
            border-radius: 5px;
            background-color: #e8e8e8;
            cursor: pointer;
            transition: 800ms background-color ease, 1000ms color ease;
            &:hover {
                background-color: #606060;
                color: #e8e8e8;
            }
            & * {
                font-size: 1rem;
            }
        }
    }
}
